@page
@model PDC.Web.Pages.Clients.EditModel

@{
    ViewData["Title"] = "Client";
}

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tClient.client_id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="tClient.client_name" class="control-label">Client Name</label>
                        <input asp-for="tClient.client_name" class="form-control" />
                        <span asp-validation-for="tClient.client_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="tClient.contact_email" class="control-label">E-mail</label>
                        <input asp-for="tClient.contact_email" class="form-control" />
                        <span asp-validation-for="tClient.contact_email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="tClient.address1" class="control-label">Address</label>
                        <input asp-for="tClient.address1" class="form-control" />
                        <span asp-validation-for="tClient.address1" class="text-danger">Address 1 required</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <input asp-for="tClient.address2" class="form-control" />
                        <span asp-validation-for="tClient.address2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="tClient.phone" class="control-label">Phone</label>
                        <input asp-for="tClient.phone" class="form-control" />
                        <span asp-validation-for="tClient.phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input asp-for="tClient.use_alias" class="checkbox checkbox-inline" type="checkbox" /><label asp-for="tClient.use_alias" style="margin-left:7px; margin-top:5px;">Use Alias</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <input asp-for="tClient.use_api" class="checkbox checkbox-inline" type="checkbox" id="chkAPI" /><label asp-for="tClient.use_api" style="margin-left:7px; margin-top:5px;">Use API</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <input asp-for="tClient.api_key" class="form-control" placeholder="API Key" id="gUID" />
                        <span asp-validation-for="tClient.api_key" class="text-danger"></span>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="btnGenerate">Generate Key</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
