@page
@model PDC.Web.Pages.Questions.CreateModel

@{
    ViewData["Title"] = "Question";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="tQuestion.question_detail" class="control-label">Question Details</label>
                        <input asp-for="tQuestion.question_detail" class="form-control" autofocus />
                        <span asp-validation-for="tQuestion.question_detail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="pq.program_id" class="control-label">Program</label>
                        <select asp-for="pq.program_id" class="form-control" asp-items="ViewBag.program"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="tQuestion.domain_id" class="control-label">Domain</label>
                    <select asp-for="tQuestion.domain_id" class="form-control" asp-items="ViewBag.domain"></select>
                </div>
                <div class="col-md-3">
                    <label asp-for="tQuestion.type_name" class="control-label">Type</label>
                    <select asp-for="tQuestion.type_name" class="form-control" asp-items="ViewBag.type"></select>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="tQuestion.score" class="control-label">Score</label>
                        <input asp-for="tQuestion.score" class="form-control" />
                        <span asp-validation-for="tQuestion.score" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
