@page
@model PDC.Web.Pages.Applicants.CreateModel
@section header{
    <script src="~/css/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link type="text/css" href="~/css/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <script>
        $(function () {
            $(".datepicker").datetimepicker({
                "format": "DD/MM/YYYY"
            })
        });
    </script>
}
@{
    ViewData["Title"] = "Applicant";
}

<h2>Create Applicant</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.middle_name" class="control-label">User Name</label>
                        <input asp-for="tApplicant.middle_name" class="form-control" placeholder="User Name" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.first_name" class="control-label">First Name</label>
                        <input asp-for="tApplicant.first_name" class="form-control" placeholder="First Name" required />
                        <span asp-validation-for="tApplicant.first_name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.last_name" class="control-label">Last Name</label>
                        <input asp-for="tApplicant.last_name" class="form-control" placeholder="Last Name" required />
                        <span asp-validation-for="tApplicant.last_name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.address1" class="control-label">Address</label>
                        <input asp-for="tApplicant.address1" class="form-control" placeholder="Address" required />
                        <span asp-validation-for="tApplicant.address1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <input asp-for="tApplicant.address2" class="form-control" />
                        <span asp-validation-for="tApplicant.address2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        '
                        <label class="control-label">&nbsp;</label>
                        <input asp-for="tApplicant.address3" class="form-control" />
                        <span asp-validation-for="tApplicant.address3" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="tApplicant.dob" class="control-label">Date of Birth</label>
                        <input asp-for="tApplicant.dob" placeholder="Date of Birth" required class="form-control datepicker" type="text" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="tApplicant.gender" class="control-label">Gender</label>
                        <select asp-for="tApplicant.gender" required class="form-control">
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="tApplicant.id_number" class="control-label">ID Number</label>
                        <input type="text" asp-for="tApplicant.id_number" class="form-control" placeholder="ID Number" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="tApplicant.last_education" class="control-label">Last Education</label>
                        <input type="text" asp-for="tApplicant.last_education" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="tApplicant.last_education_location" class="control-label">At</label>
                        <input type="text" asp-for="tApplicant.last_education_location" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.last_job" class="control-label">Last Occupation</label>
                        <input type="text" asp-for="tApplicant.last_job" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.last_job_location" class="control-label">At</label>
                        <input type="text" asp-for="tApplicant.last_job_location" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.position" class="control-label">Last Position</label>
                        <input type="text" asp-for="tApplicant.position" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="tApplicant.self_opinion" class="control-label">Self Opinion</label>
                        <input type="text" asp-for="tApplicant.self_opinion" class="form-control" />
                        <span asp-validation-for="tApplicant.city_id" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.email" class="control-label">E-mail</label>
                        <input asp-for="tApplicant.email" class="form-control" placeholder="e-mail" required type="email" />
                        <span asp-validation-for="tApplicant.email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.client_id" class="control-label">Client</label>
                        <select asp-for="tApplicant.client_id" class="form-control" asp-items="ViewBag.client"></select>
                        <span asp-validation-for="tApplicant.client_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.phone" class="control-label">Phone</label>
                        <input asp-for="tApplicant.phone" class="form-control" placeholder="Phone number" required />
                        <span asp-validation-for="tApplicant.phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.city_id" class="control-label">City</label>
                        <select asp-for="tApplicant.city_id" class="form-control" asp-items="ViewBag.city"></select>
                        <span asp-validation-for="tApplicant.city_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.password" class="control-label">Password</label>
                        <input asp-for="tApplicant.password" class="form-control" placeholder="Password" type="password" required />
                        <span asp-validation-for="tApplicant.password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="tApplicant.confirm_password" class="control-label">Confirm Password</label>
                        <input asp-for="tApplicant.confirm_password" class="form-control" placeholder="Re-type Password" type="password" required />
                        <span asp-validation-for="tApplicant.confirm_password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
