@page
@model PDC.Web.Pages.Groups.CreateModel
@section header{ 
    <style>
        .panel-heading { padding: 0; border: 0; }
        .panel-title > a, .panel-title > a:active { display: block; padding: 15px; color: #555; font-size: 16px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; word-spacing: 3px; text-decoration: none; }
    </style>
    <script>
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });
    </script>
}
@{
    ViewData["Title"] = "Group - Create";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="tGroup.group_name" class="form-control" placeholder="Group Name" required />
                        <span asp-validation-for="tGroup.group_name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading " role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">Questions</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_question" /> Add Question
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_question" /> Update Question
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_question" /> Delete Question
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.approve_question" /> Approve Question
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_answer" /> Add Answer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_answer" /> Update Answer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_answer" /> Delete Answer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">Clients &amp; Applicants</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_client" /> Add Client
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_client" /> Update Client
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_client" /> Delete Client
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_applicant" /> Add Applicant
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_applicant" /> Update Applicant
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_applicant" /> Delete Applicant
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Programs &amp; Batches</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_program" /> Add Program
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_program" /> Update Program
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_program" /> Delete Program
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.approve_program" /> Approve Program
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_batch" /> Add Batch
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_batch" /> Update Batch
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_batch" /> Delete Batch
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading4">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Menus</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_menu" /> Add Menu
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_menu" /> Update Menu
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_menu" /> Delete Menu
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_group" /> Add Group
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_group" /> Update Group
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_group" /> Delete Group
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_user" /> Add User
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_user" /> Update User
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_user" /> Delete User
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                   
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">Provinces &amp; Cities</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_province" /> Add Province
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_province" /> Update Province
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_province" /> Delete Province
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.add_city" /> Add City
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.edit_city" /> Update City
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="tGroup.delete_city" /> Delete City
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
