@page
@model PDC.Web.Pages.Reports.Detail.IndexModel
@section header{
    <style>
        #loader-img {
            margin: 0 auto;
            display: block;
        }
    </style>
    <script>
        $(function () {
            $('#clientID').change(function () {
                $('#overlay').show();
                var id = $(this).val();
                var applicants = "/api/batch/" + id;
                $("#cboBatch > option").remove();
                $.ajax({
                    type: "GET",
                    url: applicants,
                    async: false,
                    beforeSend: function (x) {
                        if (x && x.overrideMimeType) {
                            x.overrideMimeType("application/j-son;charset=UTF-8");
                        }
                    },
                    dataType: "json",
                    success: function (data) {
                        var _len = data.length;
                        for (i = 0; i < _len; i++) {
                            //debugger
                            //post = data[i];
                            $('#cboBatch')
                                .append($("<option></option>")
                                    .attr("value", data[i].batch_id)
                                    .text(data[i].batch_name));
                        }
                    }
                });
                $('#overlay').hide();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                $('#btnSearch').attr("disabled", "disabled");
                var id = $("#cboBatch").val();
                var applicants = "../api/applicantprograms/" + id;
                $("#tbl_applicants > tbody").remove();
                $.ajax({
                    type: "GET",
                    url: applicants,
                    async: false,
                    beforeSend: function (x) {
                        if (x && x.overrideMimeType) {
                            x.overrideMimeType("application/j-son;charset=UTF-8");
                        }
                    },
                    dataType: "json",
                    success: function (data) {
                        var _len = data.length;
                        for (i = 0; i < _len; i++) {
                            //debugger
                            //post = data[i];
                            var $tr = $('<tr>').append($('<td>').text(data[i]['applicant'].first_name));
                            $tr = $tr.append($('<td>').text(data[i]['applicant'].email));
                            if (data[i]['applicant'].gender == 0) { $tr = $tr.append($('<td>').text('Male')); } else { $tr = $tr.append($('<td>').text('Female')); }
                            $tr = $tr.append($('<td>').html('<a href="/Reports/Details?id=' + data[i].applicant_program_id + '&app=' + data[i]['applicant'].applicant_id + '" target="_blank">View Details</a>'));
                            $tr.appendTo("#tbl_applicants");
                        }
                    },
                    error: function () {
                        alert('failure');
                        alert(JSON.stringify(data));
                    }
                });
                $('#overlay').hide();
                $('#btnSearch').removeAttr("disabled");
            });
        });
    </script>
}
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/_Layout.cshtml";
}
<h2>Applicant Result List</h2>
<form>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Client</label>
                <select class="form-control" asp-items="ViewBag.client" id="clientID">
                    <option value="0"></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Batch</label>
                <select id="cboBatch" class="form-control">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <br />
                <input value="Search" class="btn btn-warning" id="btnSearch" />
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <table id="tbl_applicants" class="table table-striped table-bordered bulk_action dataTable no-footer">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Gender</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>