@page
@model PDC.Web.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="tUser.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
