<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eLearning</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/bootstrap-theme.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/bootstrap-theme.css" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <script src="~/js/bootstrap-3.3.7.min.js"></script>
    <script src="~/css/moment/moment.js"></script>
    <script src="~/js/smartresize.js"></script>
    <script src="~/js/icheck.js"></script>
    <script src="~/js/custom.js"></script>
    @*<script src="~/js/custom.min.js"></script>*@
    @*<link href="~/css/animate.css/animate.min.css" rel="stylesheet">
        <link href="~/css/nprogress/nprogress.css" rel="stylesheet" />*@
    <link href="~/css/custom.min.css" rel="stylesheet" />
    <link href="~/css/NewFolder/skins/flat/green.css" />
    <link href="~/css/clean.css" />
    <script>
        $(document).ready(function () {
            $('.side-menu li').click(function () {
                $('li').removeClass('active');
                //If the panel was open and would be closed by this click, do not active it
                if (!$(this).closest('li').find('.collapse').hasClass('in'))
                    $(this).addClass('active');
            });
            $('.background-image').on('webkitAnimationEnd', function (e) {
                $(this).addClass('visible');
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#overlay').hide();
            $('form').submit(function () {
                //var pass = true;
                ////some validations

                //if (pass == false) {
                //    return false;
                //} else {
                //    return true;
                //}
                $("#overlay").show();

                return true;
            });
        });
        $(document).ajaxStart(function () {
            $("#loadingDiv").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#loadingDiv").css("display", "none");
        });
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
        });
    </script>
    <style>
        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(51,51,51,0.7);
            opacity: 0.4;
        }
        #loadingDiv {
            display: none;
        }
        .overlay img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 300px;
            margin-top: -150px; /* Half the height */
            margin-left: -150px;
        }
    </style>
    @RenderSection("header", required: false)
</head>
<body class="nav-md">
    <div id="overlay" class="overlay" style="z-index: 1001; display:none;"><div><img src="/images/loading-infinity.gif" /></div></div>
    <div class="se-pre-con"></div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><img src="~/images/logo.png" class="profile_pic" /><span> PDC</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix" style="display:none;">
                        <div class="profile_pic">
                            <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu" style="" id="accordion">
                                <li>
                                    <a href="/"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#collapseForm" data-parent="#menu_section"><i class="fa fa-edit"></i> Master Data <span class="fa fa-chevron-down"></span></a>
                                    <div class="collapse" id="collapseForm" data-parent="#sidebar-menu">
                                        <ul class="nav child_menu" style="display: block;">
                                            @if (User.IsInRole("Admin"))
                                            {
                                            <li><a href="~/Clients">Clients</a></li>
                                            }
                                            <li><a href="~/Applicants">Applicants</a></li>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li><a href="~/Questions">Questions</a></li>
                                                <li><a href="~/Types">Types</a></li>
                                            }
                                        </ul>
                                        <hr />
                                        @if (User.IsInRole("Admin"))
                                        {
                                        <ul class="nav child_menu" style="display: block;">
                                            <li><a href="~/Provinces">Provinces</a></li>
                                            <li><a href="~/Cities">Cities</a></li>
                                        </ul>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#collapseLayout" data-parent="#menu_section"><i class="fa fa-clone"></i>Programs &amp; Batches <span class="fa fa-chevron-down"></span></a>
                                    <div class="collapse" id="collapseLayout" data-parent="#menu_section">
                                        <ul class="nav child_menu" style="display: block;">
                                            @if (User.IsInRole("Admin"))
                                            {
                                           <li><a href="~/Programs">Programs</a></li>
                                            }
                                            <li><a href="~/Batches">Batches</a></li>
                                        </ul>
                                    </div>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                <li>
                                    <a data-toggle="collapse" href="#collapseElement" data-parent="#menu_section"><i class="fa fa-key"></i> Access <span class="fa fa-chevron-down"></span></a>
                                    <div class="collapse" id="collapseElement" data-parent="#sidebar-menu">
                                        <ul class="nav child_menu" style="display: block;">
                                            <li><a href="~/Roles">Roles</a></li>
                                            <li><a href="~/Users">Users</a></li>
                                        </ul>
                                    </div>
                                </li>
                                }
                                <li>
                                    <a data-toggle="collapse" href="#collapseTables" data-parent="#menu_section"><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <div class="collapse" id="collapseTables" data-parent="#menu_section">
                                        <ul class="nav child_menu" style="display: block;">
                                            <li><a href="~/Reports">View Reports</a></li>
                                        </ul>
                                    </div>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a data-toggle="collapse" href="#collapseConfig" data-parent="#menu_section"><i class="fa fa-gear"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                        <div class="collapse" id="collapseConfig" data-parent="#menu_section">
                                            <ul class="nav child_menu" style="display:block;">
                                                <li><a href="~/Configuration">Configuration</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            @await Html.PartialAsync("_LoginPartial")

            <div class="right_col" role="main" style="min-height:800px;">
                @RenderBody()
                <br>
            </div>
            <footer>
                <p>&copy; 2017 - PDC.Web</p>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.columns-1.0.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.columns-1.0.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        window.addEventListener('unload', function (event) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
