@page
@model PDC.Web.Pages.Reports.Preview.DeleteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <script src="~/js/bootstrap-3.3.7.min.js"></script>
    <script src="~/css/moment/moment.js"></script>
    <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/js/Chart.bundle.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.time.js"></script>
    <script type="text/javascript" src="~/js/jshashtable-2.1.js"></script>
    <script type="text/javascript" src="~/js/jquery.numberformatter-1.2.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.symbol.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.axislabels.js"></script>
    <script src="~/css/tinymce/tinymce.min.js"></script>
    <script src="~/js/magnifiy.js"></script>
    <link href="~/css/magnify.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <table class="table table-bordered" style="display:none;">
        <thead>
            <tr>
                <th colspan="2"></th>
                @foreach (var item in Model.rangkings[0].domainCount)
                                {
                <th>@item.domain.domain_name</th>
                                }
            </tr>
        </thead>
        <tbody>
            @{int row = 0; }
            @foreach (var item in Model.rangkings)
                            {
            <tr>
                <td>@(row += 1)</td>
                <td>@item.type.type_name</td>
                @foreach (var itm in item.domainCount)
                                    {
                                        if (itm.count == 0)
                                        {
                <td>-</td> }
                                        else
                                        {
                <td>@itm.count</td>}
                                    }
            </tr>
                            }
        </tbody>
    </table>
</body>
</html>
